/* CGNS Standard Interface Data Structures - style sheet */

/* Header colors */
h1,h2,h3,h4,h5,h6 {color: #2D0091}
/* The size change below doesn't work in Netscape 4
.notes {color: black;
        font-size: medium;
        font-style: italic;
        text-decoration: underline;} */

/* Current page and parent document in navigation headers */
span.nav {color: #000066}

/* Table captions */
caption {font-weight: bold;}

/* Tables of edge & face definitions in Unstructured Grid Element
   Numbering Conventions */
caption.edge {text-align: left;
              font-style: italic;
              font-weight: normal;
              text-decoration: underline}
th.midnode {color: red;}
td.midnode {color: red;}
th.midface {color: blue;}
td.midface {color: blue;}

/* Footer */
div.footer {font-style: italic}
