
/* Head & element boxes in one-column file mapping figures */
div.fighead {
    border: thin solid rgb(72%,45%,26%);
    width: 80%;
    background: rgb(100%,93%,80%);
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-bottom: 1em;
}

div.figelem {
    border: thin solid #666666;
    width: 80%;
    background: #eeeeee;
    margin-right: 1px;
    margin-bottom: 1em;
    text-align: left;
}

table.figtable {
    margin-bottom: 0px !important;
}


/* Head & element boxes in two-column file mapping figures */
div.fighead2 {
    border: thin solid rgb(72%,45%,26%);
    width: 67%;
    background: rgb(100%,93%,80%);
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-bottom: 1em;
}

div.figelem2 {
    border: thin solid #666666;
    background: #eeeeee;
    text-align: left;
    width: 100%;
    margin: 0px 0px 1em 0px;
}


.columns {
    margin: 0px 0px 0px -45px;
    padding: 0px 0px 0px 0px;
    width: calc(100% + 90px);
}

@media screen and (max-width: 768px) {

    .columns {
        margin-left: 0px;
        width: 100%;
        padding: 0px;
    }
}

.right {
        float: right;
        width: 50%;
        margin: 0px 0px 0px 0px;
        padding: 0px 2px 0px 2px;
}

    .left {
        float: left;
        width: 50%;
        margin: 0px 0px 0px 0px;
        padding: 0px 2px 0px 2px;
    }

