/* SIDS-to-ADF File Mapping Manual - style sheet */

/* Headers */
h1,h2,h3,h4,h5,h6 {color: #2D0091}

/* Current page and parent document in navigation headers */
span.nav {color: #000066}

/* Table captions */
caption {font-weight: bold;}

/* "Node Attributes" caption */
caption.node {text-align: left;
              font-style: italic;
              text-decoration: underline}

/* Head & element boxes in one-column file mapping figures */
div.fighead {border: thin solid rgb(72%,45%,26%);
             width: 67%;
             background: rgb(100%,93%,80%);}
	     
div.figelem {border: thin solid #666666;
             width: 67%;
             background: #eeeeee;
             margin-left: 10%;}

/* Head & element boxes in two-column file mapping figures */
div.fighead2 {border: thin solid rgb(72%,45%,26%);
              width: 67%;
              background: rgb(100%,93%,80%);
              text-align: center;}

div.figelem2 {border: thin solid #666666;
              background: #eeeeee;
              text-align: center;}

/* Footer */
div.footer {font-style: italic}
