name: "Build and deploy docs pages"

on: 
  push:
    branches:
      - master

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install doxygen

      - name: "Checkout"
        uses: actions/checkout@v4.1.1
        with:
          persist-credentials: false
          submodules: recursive

      - name: "Setup python for sphinx"
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: "Install python dependencies"
        run: |
          pip3 install setuptools six
          pip3 install sphinx-fortran
          pip3 install sphinx_sitemap
          pip3 install numpy
          pip3 install breathe
          pip3 install sphinx-book-theme
          pip3 install linkchecker

      - name: "Build sphinx doc"
        run: |
          make html
        shell: bash

      - name: "Check for broken links"
        run: |
          cd docs/html/
          linkchecker --check-extern ./index.html
        continue-on-error: true

      - name: "Deploy"
        run: |
          git clone -b gh-pages --single-branch https://github.com/CGNS/cgns-modern.github.io.git docs/deploy
          rsync -q -av --checksum --progress docs/html/ docs/deploy
          cd docs/deploy
          git config --global user.name 'autopages'
          git config --global user.email 'cgns@users.noreply.github.com'
          git add --all .
          git commit -m "Update gh-pages"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY
          git push
        shell: bash





